*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pidb.meta
sysinfo.txt
week03/Library/
week03/Temp/
week04/Library
week04/obj
week04/Temp
Midterm/Library
Midterm/obj
Midterm/Temp